.header {
  padding: 4rem;
  position: relative;
  z-index: 3;
  pointer-events: none;
  user-select: none;

  display: flex;
  align-items: center;
  justify-content: space-between;

  &__title {
    font-weight: 400;
    font-size: 2rem;

    span {
      opacity: 0.5;
    }
  }

  &__links {
    display: flex;
    gap: 3rem;
    pointer-events: auto;
    user-select: none;
  }

  &__link {
    font-size: 2rem;
    font-weight: 400;
    color: #fefefe;
    text-decoration: none;

    @extend %link--hidden;
  }
}
